databases:
  - name: golf-booking-system
    databaseName: booking_system_production
    user: postgres

services:
  - type: web
    name: golf-booking-system
    env: ruby
    buildCommand: "bundle install; bundle exec rake assets:precompile; bundle exec rake assets:clean; bundle exec rails db:prepare RAILS_ENV=production;"
    startCommand: "-e ${RAILS_ENV=production} rails s"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: golf-booking-system
          property: connectionString
      - key: SECRET_KEY_BASE
        sync: false